<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>G SHOP - Computer Ecommerce</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="#">Shop</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Computers</li>
                                    <li><a href="shop.html">Gaming Laptops</a></li>
                                    <li><a href="shop.html">Gaming Desktops </a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Peripherals</li>
                                    <li><a href="shop.html">Monitors</a></li>
                                    <li><a href="shop.html">Mice</a></li>
                                    <li><a href="shop.html">Keyboard</a></li>
                                    <li><a href="shop.html">Headphones</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Furniture</li>
                                    <li><a href="shop.html">Gaming Chairs</a></li>
                                    <li><a href="shop.html">Gaming Tables</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="img/bg-img/header.jpg" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="graphics.html">Graphics</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="img/core-img/heart.svg" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="#"><img src="img/core-img/user.svg" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="img/core-img/bag.svg" alt=""> <span>3</span></a>
            </div>
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="img/core-img/bag.svg" alt=""> <span>3</span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-1.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <!-- <span class="badge">Mango</span> -->
                        <h6>Asus RogStrix G531GV-AL172</h6>
                        <p class="price">$1299.00</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-2.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <!-- <span class="badge">Mango</span> -->
                        <h6>Krom Kernel TKL</h6>
                        <p class="price">$49.99</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-3.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <!-- <span class="badge">Mango</span> -->
                        <h6>AOC Gaming C24G1 24"</h6>
                        <p class="price">$139.00</p>
                    </div>
                </a>
            </div>
        </div>

        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Summary</h2>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>$1488.98</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
                <li><span>discount:</span> <span>-0%</span></li>
                <li><span>total:</span> <span>$1488.98</span></li>
            </ul>
            <div class="checkout-btn mt-100">
                <a href="checkout.html" class="btn essence-btn">check out</a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Right Side Cart End ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Graphics</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="grafica ">
                    <img src="img/core-img/graphics.jpg" alt="">
                    <br>
                    <img src="img/core-img/grafica-1.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--<svg xmlns="http://www.w3.org/2000/svg" xml:lang="en"-->
<!--     width="4in" height="2in" viewBox="-35 -10 240 120">-->
<!--    <title>DataPoint Markers on a Data Line</title>-->
<!--    <path stroke="lightSkyBlue"-->
<!--          d="M0, 0H200 M0,20H200 M0,40H200-->
<!-- M0,60H200 M0,80H200 M0,100H200"/>-->
<!--    <g text-anchor="end" aria-label="y-axis"-->
<!--       style="font: 8px sans-serif; fill: navy" >-->
<!--        <desc>Y-axis tick labels</desc>-->
<!--        <text x="-7" dy="0.7ex" y="100">0%</text>-->
<!--        <text x="-7" dy="0.7ex" y="80">20%</text>-->
<!--        <text x="-7" dy="0.7ex" y="60">40%</text>-->
<!--        <text x="-7" dy="0.7ex" y="40">60%</text>-->
<!--        <text x="-7" dy="0.7ex" y="20">80%</text>-->
<!--        <text x="-7" dy="0.7ex" y="0">100%</text>-->
<!--    </g>-->
<!--    <style>-->
<!--        .dataline {-->
<!--            fill: none;-->
<!--            stroke: currentColor;-->
<!--            stroke-linejoin: bevel;-->
<!--        }-->
<!--        .data-marker {-->
<!--            stroke: currentColor;-->
<!--            stroke-width: 1.5px;-->
<!--            fill: currentColor;-->
<!--            fill-opacity: 0.5;-->
<!--        }-->
<!--    </style>-->
<!--    Emphasizing Points | 527-->
<!--    <marker id="datapoint-1" overflow="visible">-->
<!--        <circle class="data-marker" r="2.5" color="tomato" />-->
<!--    </marker>-->
<!--    <polyline id="dataline-1" class="dataline" color="darkRed"-->
<!--              style="marker: url(#datapoint-1)" >-->
<!--        <title>Team Red</title>-->
<!--    </polyline>-->
<!--    <marker id="datapoint-2" overflow="visible">-->
<!--        <polygon class="data-marker" points="-3,0 0,3 3,0 0,-3"-->
<!--                 color="mediumSeaGreen" />-->
<!--    </marker>-->
<!--    <polyline id="dataline-2" class="dataline" color="#364"-->
<!--              style="marker: url(#datapoint-2)" >-->
<!--        <title>Team Green</title>-->
<!--    </polyline>-->
<!--    <script><![CDATA[-->
<!--    (function(){-->
<!--        var datalines = ["dataline-1", "dataline-2"],-->
<!--            nLines = datalines.length,-->
<!--            nPoints = 14,-->
<!--            dx = 15,-->
<!--            maxY = 100;-->
<!--        for (var l=0; l<nLines; l++ ) {-->
<!--            var data = new Array(nPoints),-->
<!--                points = new Array(nPoints);-->
<!--            for (var i=0; i<nPoints; i++) {-->
<!--                data[i] = [i, Math.random()];-->
<!--                points[i] = [i*dx, maxY * (1 - data[i][1])];-->
<!--            }-->
<!--            document.getElementById(datalines[l])-->
<!--                .setAttribute("points", points.toString() );-->
<!--        }-->
<!--    })()-->
<!--    ]]> </script>-->
<!--</svg>-->

<!-- ##### Graphics goes here ##### -->


<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
                    </div>
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>
</html>