<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="#">Shop</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Computers</li>
                                    <li><a href="shop.html">Gaming Laptops</a></li>
                                    <li><a href="shop.html">Gaming Desktops </a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Peripherals</li>
                                    <li><a href="shop.html">Monitors</a></li>
                                    <li><a href="shop.html">Mice</a></li>
                                    <li><a href="shop.html">Keyboard</a></li>
                                    <li><a href="shop.html">Headphones</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Furniture</li>
                                    <li><a href="shop.html">Gaming Chairs</a></li>
                                    <li><a href="shop.html">Gaming Tables</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="img/bg-img/header.jpg" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="graphics.html">Graphics</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="img/core-img/heart.svg" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="#"><img src="img/core-img/user.svg" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="img/core-img/bag.svg" alt=""> <span>3</span></a>
            </div>
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="img/core-img/bag.svg" alt=""> <span>3</span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-1.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <!-- <span class="badge">Mango</span> -->
                        <h6>Asus RogStrix G531GV-AL172</h6>
                        <p class="price">$1299.00</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-2.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <!-- <span class="badge">Mango</span> -->
                        <h6>Krom Kernel TKL</h6>
                        <p class="price">$49.99</p>
                    </div>
                </a>
            </div>

            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="img/product-img/product-3.jpg" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                        <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <!-- <span class="badge">Mango</span> -->
                        <h6>AOC Gaming C24G1 24"</h6>
                        <p class="price">$139.00</p>
                    </div>
                </a>
            </div>
        </div>

        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Summary</h2>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span>$1488.98</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
                <li><span>discount:</span> <span>-0%</span></li>
                <li><span>total:</span> <span>$1488.98</span></li>
            </ul>
            <div class="checkout-btn mt-100">
                <a href="checkout.html" class="btn essence-btn">check out</a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Right Side Cart End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Your Products</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div>

<!--    <div class="portlet box red">-->
<!--        <div class="portlet-title">-->
<!--            <div class="caption">-->
<!--                <i class="fa fa-home"></i> Productos-->
<!--            </div>-->
<!--            <div class="actions">-->

<!--&lt;!&ndash;                <a class="btn btn-default btn-sm btn-accion-seleccion disabled" id="btn-redactar-email"&ndash;&gt;-->
<!--&lt;!&ndash;                   data-toggle="modal" href="#email">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fa fa-envelope"></i> Enviar email&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="portlet-body">-->
<!--            <div class="table-info"></div>-->
<!--            <div class="table-advance">-->
<!--                <table class="table table-bordered" id="tabla-principal-practicas" cellspacing="0">-->
<!--                    <thead>-->
<!--                    <tr class="heading">-->
<!--                        <th class="text-center">AA</th>-->
<!--                        <th class="text-center">BB</th>-->
<!--                        <th class="text-right">Inicio</th>-->
<!--                        <th class="text-right">Fin</th>-->
<!--                    </tr>-->
<!--                    </thead>-->

<!--                    <tbody>-->

<!--                    <td class="hidden">AA</td>-->
<!--                    <td class="text-center">BB</td>-->
<!--                    <td class="text-center">INICIO</td>-->
<!--                    <td class="text-right">FIN</td>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<section class="product_searchera_area section-padding-80">

    <table class="product-table col-md-10" align="center" >
        <tr>
            <th class="tg-0lax">ID</th>
            <th class="tg-0lax">Product Name</th>
            <th class="tg-0lax">Stock</th>
            <th class="tg-0lax">ID Seller</th>
            <th class="tg-0lax">Rating</th>
            <th class="tg-0lax">Price</th>
            <th class="tg-0lax">Category</th>
            <th class="tg-0lax">View</th>
        </tr>
        <tr>
            <td class="tg-hmp3">1</td>
            <td class="tg-hmp3">MSI motherboard</td>
            <td class="tg-hmp3">3</td>
            <td class="tg-hmp3">1</td>
            <td class="tg-hmp3">3/5</td>
            <td class="tg-hmp3">185€</td>
            <td class="tg-hmp3">Motherboard</td>
            <td class="tg-hmp3">
                <input type="button" onclick="window.location.href = 'single-product-details.html';" value=" Transaction "/>
            </td>
        </tr>
        <tr>
            <td class="tg-0lax">2</td>
            <td class="tg-0lax">Asus laptop</td>
            <td class="tg-0lax">7</td>
            <td class="tg-0lax">2</td>
            <td class="tg-0lax">4/5</td>
            <td class="tg-0lax">745€</td>
            <td class="tg-0lax">Laptop</td>
            <td class="tg-hmp3">
                <input type="button" onclick="window.location.href = 'single-product-details.html';" value=" Transaction "/>
            </td>
        </tr>
    </table>

</section>
</div>

<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
                    </div>
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

</body>
</html>