{{>header}}
    
    <!-- ##### Register Area Start ##### -->
    <div class="loginAndRegister">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="/assets/img/userImg.png" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
                    <input type="password" id="password" class="fadeIn second" name="login" placeholder="Password">
                    <input type="text" id="country" class="fadeIn second" name="login" placeholder="Country">
                    <input type="text" id="adress" class="fadeIn third" name="login" placeholder="Adress">
                    <input type="text" id="postCode" class="fadeIn third" name="login" placeholder="Post Code">
                    <input type="text" id="city" class="fadeIn third" name="login" placeholder="City/Town">
                    <input type="text" id="creditCard" class="fadeIn third" name="login" placeholder="Credit Card">
                    <input type="text" id="emailAdress" class="fadeIn third" name="login" placeholder="Email Adress">
                    <input type="submit" class="fadeIn fourth" value="Register">
                    <input type="hidden" name="_csrf" value="{{token}}" />
                </form>
            </div>
        </div>
    </div>
    <!-- ##### Register Area End ##### -->


{{>footer}}